<section class="content">
    <form class="display helpers form-horizontal" action="{{ path('sked_app_invite_friends_consultant',{'id':id }) }}" method="POST" {{ form_enctype(form) }}>
      <fieldset>
          <legend><span class="label label-info">Info</span> <small>Invite your friend to SkedApp.</small></legend>
          <div class="control-group {% if form_errors(form.friendName) %} error {% endif %}">
            <label class="control-label" for="friends_name">{{ form_label(form.friendName) }}</label>
            <div class="controls">
              {{ form_widget(form.friendName) }}
              <span class="help-inline"></span>
              <span class="help-inline">{{form_errors(form.friendName)}}</span>
            </div>
          </div>
          <div class="control-group {% if form_errors(form.email) %} error {% endif %}">
            <label class="control-label" for="email">{{ form_label(form.email) }}</label>
            <div class="controls">
              {{ form_widget(form.email) }}
              <span class="help-inline"></span>
              <span class="help-inline">{{form_errors(form.email)}}</span>
            </div>
          </div>
          <div class="form-actions">
              <button type="submit" name="submit" class="btn btn-warning" data-toggle="button">Invite &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                        &nbsp;&nbsp;<a href="{{ path('_welcome') }}" class="btn">Cancel</a>
          </div>

          {{ form_rest(form) }}
      </fieldset>
    </form>
</section>
{{ form_stylesheet(form) }}
{{ form_javascript(form) }}