<form action="{{ path('sked_app_category_update' , { id:id}) }}" method="POST" {{ form_enctype(form) }}>
    <fieldset>
      <div for="name">{{ form_label(form.name) }}</div>
      {{ form_widget(form.name) }} 
      <span class="help-inline">{{form_errors(form.name)}}</span>
      <div for="description">{{ form_label(form.description) }}</div>
      {{ form_widget(form.description) }} 
      <span class="help-inline">{{form_errors(form.description)}}</span>   
      <div class="btn-toolbar pull-right">
          <div class="btn-group">
              <button class="btn btn-warning">Submit <i class="icon-white icon-circle-arrow-right"></i></button>
          </div>
                                  <div class="btn-group">
                  <a href="{{ path('sked_app_category_list') }}" class="btn btn-small">Cancel</a>
          </div>
      </div>
    </fieldset>
{{ form_rest(form) }} 
</form>
{{ tinymce_init() }}
