
{% extends "SkedAppCustomerBundle::layout.html.twig" %}
{% block title %}My bookings{% endblock %}


{% block menu %}
           {% include "SkedAppCustomerBundle::menu.html.twig" with {'customer' : customer , 'controller' : 'bookings' } %} 
{% endblock menu %} 

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span12">
        <h3>Booking details</h3>
        <div class="row-fluid">
            <div class="span5">
                <div class="whiteBackground">
                    <div class="row-fluid">
                        <div class="span3">
                        {% if file_exists(web_path~asset('uploads/consultants/'~booking.consultant.id~'.'~booking.consultant.path)) %}
                            <img src="{{ asset('uploads/consultants/'~booking.consultant.id~'.'~booking.consultant.path) }}" width="82" height="118" class="space-left space-right pull-left img-polaroid"/>
                        {% else %}
                            {% if booking.consultant.gender.name == "Male" %}
                                <img src="{{ asset('/img/male.jpg') }}" width="82" height="118" class="space-right pull-left img-polaroid"/>
                            {% else %}
                                <img src="{{ asset('/img/female.jpg') }}" width="82" height="118" class="space-right pull-left img-polaroid"/>
                            {% endif %}
                        
                        {% endif %}
                        </div>
                        <div class="span9">
                          <ul class="unstyled">
                            <li><strong>Consultant:</strong> {{ booking.consultant.fullName }}</li>
                            <li><strong>Contact number :</strong> {{ booking.consultant.company.contactNumber }}</li>
                            <li><strong>Service to be tendered:</strong><span class="label label-warning"> {{ booking.service.name}} </span></li>
                            <li><strong>Time:</strong> {{ booking.hiddenAppointmentStartTime|date('G:s a') }}, {{ booking.hiddenAppointmentStartTime|date('d-m-Y') }}</li>
                            <li><strong>GPS:</strong> 26° 6' 27.094" S 28° 3' 23.964" E</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span7">
                <div class="map-box">
                <h3>Location Details</h3>
                {{ google_map_container(map) }}
                <address>
                <h4>Service Provider: {{ booking.consultant.company.name }}</h4>
                <strong>Location:</strong><br>
                {{ booking.consultant.company.address }}
                </address>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div> <!-- Dashboard Content --> 
</div>
{{ google_map_js(map) }}
{% endblock body %}
