
{% extends "SkedAppCustomerBundle::layout.customer.html.twig" %}
{% block title %}My bookings{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}

{% block body %}
<div class="row-fluid body-secondary rounded-bottom">
    <div class="span12">
        <div class="row-fluid">
            <div class="span5">
                <div class="confirm-background">
                    <h3>Booking details</h3>
                    <ul class="unstyled space-left pull-left bookingDetails">
                        <li>
                            <div class="divPrompt">Service Provider:</div>
                            <div class="divValue">
                                {% if file_exists(web_path~asset('uploads/companies/'~booking.consultant.company.id~'.'~booking.consultant.company.path)) %}
                                 <div class="image-dimensions180">
                                     <img src="{{ asset('uploads/companies/'~booking.consultant.company.id~'.'~booking.consultant.company.path) }}" width="180" class="img-polaroid space-right"/>
                                 </div>
                                  {% endif %}
                                <span class="gray-text"><strong>{{ booking.consultant.company.name }}</strong></span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="divPrompt">Consultant:</div>
                            <div class="divValue">
                                {% if file_exists(web_path~asset('uploads/consultants/'~booking.consultant.id~'.'~booking.consultant.path)) %}
                                 <div class="image-dimensions180">
                                     <img src="{{ asset('uploads/consultants/'~booking.consultant.id~'.'~booking.consultant.path) }}" width="180" class="img-polaroid space-right"/>
                                 </div>
                                 {% else %}
                                      {% if booking.consultant.gender.name == "Male" %}
                                     <div class="image-dimensions180">
                                         <img src="{{ asset('/img/male.jpg') }}" width="180" class="img-polaroid space-right"/>
                                     </div>
                                      {% else %}
                                     <div class="image-dimensions180">
                                         <img src="{{ asset('/img/female.jpg') }}" width="180" class="img-polaroid space-right"/>
                                     </div>
                                      {% endif %}
                                  {% endif %}
                                <span class="gray-text"><strong>{{ booking.consultant.getFullName() }}</strong></span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="divPrompt">Location:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking.consultant.company.address }}</strong></span></div>
                            <div class="clearfix"></div>
                            <div class="divPrompt">Contact Number:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking.consultant.company.contactNumber }}</strong></span></div>
                            <div class="clearfix"></div>
                        </li>
                        <li><div class="divPrompt">Service:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking.service.name }}</strong></span></div></li>
                        <li><div class="divPrompt">Appointment Date:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking.appointmentDateString }}</strong></span></div></li>
                        <div class="clearfix"></div>
                        <li><div class="divPrompt">Appointment Time:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking.startTimeSlot.slot }} - {{ booking.endTimeSlot.slot }}</strong></span></div></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="span7">
                <div class="map-box">
                    <div><span class="asterisk">*</span><strong>HINT :</strong> For more information on the location of the appointment, please see the map.</div>
                    <div class="spacer1"></div>
                     <div class="map-container">
                        {{ google_map_container(map) }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div> <!-- Dashboard Content -->
</div>
{{ google_map_js(map) }}
{% endblock body %}
