<form class="form-horizontal" action="{{ path('sked_app_company_create') }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
      <legend><span class="label label-info">Info</span> <small>Service Provider details.</small></legend>
      <div class="control-group {% if form_errors(form.name) %} error {% endif %}">
        <label class="control-label" for="first_name">{{ form_label(form.name) }}</label>
        <div class="controls">
          {{ form_widget(form.name) }}
          <span class="help-inline">{{form_errors(form.name)}}</span>
        </div>
      </div>
      <div class="control-group {% if form_errors(form.picture) %} error {% endif %}">
        <label class="control-label" for="picture">{{ form_label(form.picture) }}</label>
        <div class="controls">
          {{ form_widget(form.picture) }}
          <span class="help-inline">{{form_errors(form.picture)}}</span>
        </div>
      </div>
      <div class="control-group {% if form_errors(form.description) %} error {% endif %}">
        <label class="control-label" for="professional_statement">{{ form_label(form.description) }}</label>
        <div class="controls">
          {{ form_widget(form.description) }}
          <span class="help-inline">{{form_errors(form.description)}}</span>
        </div>
      </div>
      <div class="control-group {% if form_errors(form.address) %} error {% endif %}">
        <label class="control-label" for="professional_statement">{{ form_label(form.address) }}</label>
        <div class="controls">

          {{ form_widget(form.address) }} <br />
          {{ form_widget(form.locality) }} <br />
          {{ form_widget(form.country) }} <br />
          {{ form_widget(form.lat) }} <br />
          {{ form_widget(form.lng) }} <br />

          <script type="text/javascript">
          var blnAddress = true;
          </script>
          <span class="help-inline">{{form_errors(form.address)}}</span>
        </div>
      </div>
      <div id="map"></div>
      <div class="form-actions">
          <button type="submit" name="submit" class="btn btn-primary" data-toggle="button">Create &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                    &nbsp;&nbsp;<a href="{{ path('sked_app_company_list') }}" class="btn">Cancel</a>
      </div>
      {{ form_rest(form) }}
  </fieldset>
</form>
{{ tinymce_init() }}
