<form action="{{ path('sked_app_company_update',{id:id}) }}" method="POST" {{ form_enctype(form) }}>
    <fieldset>
        <div class="control-group {% if form_errors(form.name) %} error {% endif %}">
            <label class="control-label" for="first_name">{{ form_label(form.name) }}</label>
            <div class="controls">
                {{ form_widget(form.name) }}
                <span class="help-inline">{{form_errors(form.name)}}</span>    
            </div>
        </div>   
        <div class="control-group {% if form_errors(form.contactNumber) %} error {% endif %}">
            <label class="control-label" for="company_contact_number">{{ form_label(form.contactNumber) }}</label>
            <div class="controls">
                {{ form_widget(form.contactNumber) }}
                <span class="help-inline">{{form_errors(form.contactNumber)}}</span>    
            </div>
        </div>   
        <div class="control-group {% if form_errors(form.picture) %} error {% endif %}">
            <label class="control-label" for="picture">{{ form_label(form.picture) }}</label>
            <div class="controls">
                {{ form_widget(form.picture) }}
                <span class="help-inline">{{form_errors(form.picture)}}</span>    
            </div>
        </div>   
        <div class="control-group {% if form_errors(form.description) %} error {% endif %}">
            <label class="control-label" for="description">{{ form_label(form.description) }}</label>
            <div class="controls">
                {{ form_widget(form.description) }}
                <span class="help-inline">{{form_errors(form.description)}}</span>    
            </div>
        </div>   
        <div class="control-group {% if form_errors(form.address) %} error {% endif %}">
            <label class="control-label" for="address">{{ form_label(form.address) }}</label>
            <div class="controls">
                {{ form_widget(form.address) }}
                {{ form_widget(form.locality) }} 
                {{ form_widget(form.country) }} 
                {{ form_widget(form.lat) }} 
                {{ form_widget(form.lng) }}
                <span class="help-inline">{{form_errors(form.address)}}</span>    
            </div>
        </div>  
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button class="btn btn-warning">Update <i class="icon-white icon-circle-arrow-right"></i></button>
            </div>
            <div class="btn-group">
                <button class="btn btn-small">Cancel</button>
            </div>
        </div>
        <script type="text/javascript">
          var blnAddress = true;
        </script>
    </fieldset>
    {{ form_rest(form) }}    
</form>

{{ tinymce_init() }}
