<div class="divSearchResultsItem">

    <div class="divConsultantInfo">

        <span style="padding-left: 10px">
            <a href="{{ path("sked_app_consultant_view",{"id":consultant.id, 'pos_lat': intPositionLat, 'pos_lng': intPositionLong, 'booking_date': dateFull, 'category_id': category_id})}}"><img
                src="/uploads/consultants/{{ consultant.id }}.{{ consultant.path }}" title="consultant profile image" width="280px" height="280px" /></a>
        </span>

        <br />
        <a href="{{ path("sked_app_consultant_view",{"id":consultant.id, 'pos_lat': intPositionLat, 'pos_lng': intPositionLong, 'booking_date': dateFull, 'category_id': category_id})}}">{{consultant.firstName}}&nbsp;{{consultant.lastName}}</span></a>

        <br /><br />

        <span>
              <label class="lblView">
                  Distance from you:<br />
                  <span class="spnNotes">(Point to point)</span>
              </label>
              <div class="divViewData">
                  {{consultant.distanceFromPositionString (intPositionLat, intPositionLong)}}
              </div>
              <div style="clear: both;"></div>
        </span>

        <br />
        {% for service in consultant.consultantServices %}
            <span class="label {{ cycle(['label-inverse', 'label-success'], service.id) }}">{{ service.name }}</span>
        {% else %}
             No listed services found.
        {% endfor %}

         <p>
            <a href="{{ path("sked_app_consultant_view",{"id":consultant.id, 'pos_lat': intPositionLat, 'pos_lng': intPositionLong, 'booking_date': dateFull, 'category_id': category_id})}}">View details...</a>
         </p>

    </div>

    <div class="divTimeSlotsAround">
        {% set arrSlots = consultant.getAvailableBookingSlots() %}
        {% if arrSlots.error_message %}
            <div class="divTimeSlotsAllTaken">{{ arrSlots.error_message }}</div>
        {% else %}
            <div class="divTimeSlotContainer">
            {% for time_slot in arrSlots.time_slots %}
                {% if time_slot.booking_taken %}
                    <div class="divTimeSlotTaken">Taken</div>
                {% else %}
                    <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': serviceIds}) }}"><div class="divTimeSlotAvailable">
                        {{ time_slot.start_time }} to {{ time_slot.end_time }}<br />
                        <span class="spnTimeSlotNotes">{{ time_slot.dow }} {{ time_slot.date }} {{ time_slot.year }}</span>
                    </div></a>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div style="clear: both;"></div>

</div>