<ul class='tabs' style="margin-bottom: -2px; margin-left: 0px;">
    <div><li><a href='#tab1'>Start Here</a></li>
    <!--<li class='tabsOrange' style="margin-left: -5px"><a href='#tab2'>Step 2</a></li>
    <li class='tabsGreen' style="margin-left: -5px"><a href='#tab3'>Step 3</a></li>-->
</ul>
<div id='tab1'>
    <form  class="form-horizontal formSearch formBackground" action="{{ path('sked_app_search_query') }}" method="POST" {{ form_enctype(form) }}>
  <fieldset class="width360px">
        <div class="control-label" for="company">{{ form_label(form.category) }}</div></br>
      <div class="control-group {% if form_errors(form.category) %} error {% endif %}">
        <div class="controls">
          {{ form_widget(form.category) }}
          <span class="help-inline">{{form_errors(form.category)}}</span>
        </div>
      </div>
      <div class="control-group {% if form_errors(form.address) %} error {% endif %}">
        <label class="control-label" for="professional_statement">{{ form_label(form.address) }}</label>
        <div class="controls">

          {{ form_widget(form.address) }}
          {{ form_widget(form.locality) }}
          {{ form_widget(form.administrative_area_level_2) }}
          {{ form_widget(form.administrative_area_level_1) }}
          {{ form_widget(form.country) }}
          {{ form_widget(form.lat) }}
          {{ form_widget(form.lng) }}


          <script type="text/javascript">
          var blnAddress = true;
          </script>
          <span class="help-inline">{{form_errors(form.address)}}</span>
        </div>
      </div>
      <div class="control-group {% if form_errors(form.booking_date) %} error {% endif %}">
        <label class="control-label" for="booking_date">{{ form_label(form.booking_date) }}</label>
        <div class="controls">
          {{ form_widget(form.booking_date) }}
          <span class="help-inline">{{form_errors(form.booking_date)}}</span>
        </div>
      </div>
      <div class="control-group {% if form_errors(form.consultantServices) %} error {% endif %}">
        <label class="control-label" for="consultant_services">{{ form_label(form.consultantServices) }}</label>
        <div class="controls">
          {{ form_widget(form.consultantServices) }}
          <span class="help-inline">{{form_errors(form.consultantServices)}}</span>
        </div>
      </div>
      <div class="submitButton">
          <button type="submit" name="submit" class="btn" data-toggle="button">Search &nbsp;&nbsp;<i class="icon-black icon-circle-arrow-right"></i></button>
      </div>
      {{ form_rest(form) }}
  </fieldset>
</form>
</div>


<script>
$('ul.tabs').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and it's associated content
    var $active, $content, $links = $(this).find('a');

    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
    $active.addClass('active');
    $content = $($active.attr('href'));

    // Hide the remaining content
    $links.not($active).each(function () {
        $($(this).attr('href')).hide();
    });

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
        // Make the old tab inactive.
        $active.removeClass('active');
        $content.hide();

        // Update the variables with the new link and content
        $active = $(this);
        $content = $($(this).attr('href'));

        // Make the tab active.
        $active.addClass('active');
        $content.show();

        // Prevent the anchor's default click action
        e.preventDefault();
    });
});
</script>