<script language="JavaScript">

var serviceProviderIDs = new Array();
var serviceProviders = new Array();
var searchLatitude = '{% if options.lat is defined %} {{options.lat}} {% endif %}';
var searchLongitude = '{% if options.lng is defined %}{{ options.lng }} {% endif %}';
var searchDate = '{% if options.date is defined %} {{ options.date }} {% endif %}';
var searchCategoryId = '{% if options.category is defined %} {{ options.category.id }} {% endif %}';
var searchServiceIds = '{% if options.service is defined %} {{ options.service.id }} {% endif %}';
var intCCnt = 0;
var intSPCnt = 0;

//Store the selected service
var currentServiceId = {% if options.service is defined %} {{ options.service.id }} {% endif %};

</script>
<div class="row-fluid body-secondary rounded-bottom" id="results">
    <div class="span12">
        {% render "SkedAppSearchBundle:Search:showResults" with { 'paginator' : pagination, 'serviceId' : options.service.id, 'options': options } %}    
        <div class="btn-group pull-right">
            {{ knp_pagination_render(pagination, null , paginationParams) }}
        </div>
    </div>
</div><!-- End .row-fluid .body-secondary -->
