<script language="JavaScript">

var serviceProviderIDs = new Array();
var serviceProviders = new Array();
var searchLatitude = '{{ options.lat  }}';
var searchLongitude = '{{ options.lng }}';
var searchDate = '{{ options.date }}';
var searchCategoryId = '{{ options.category.id }}';
var searchServiceIds = '{{ options.service.id }}';
var intCCnt = 0;
var intSPCnt = 0;

</script>
<div class="row-fluid body-secondary rounded-bottom">
    <div class="span12">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped">
          <tr>
            <th scope="col" class="table-heading-orange"><i class="icon-folder-open icon-white"></i> Choose a Consultant</th>
            <th scope="col" class="table-heading-orange" colspan="7"><i class="icon-calendar icon-white"></i> Choose an Appointment Date</th>
          </tr>
          <tr>
            <td width="30%" class="table-valign">
                <span class="large-thin-text">
                    {% if options.service is defined %}
                        {{ options.service.name }}
                    {% endif %}
                </span>
            </td>
            <td width="10%">
                <strong>Mon</strong><br />
            </td>
            <td width="10%">
                <strong>Tue</strong><br />
            </td>
            <td width="10%">
                <strong>Wed</strong><br />
            </td>
            <td width="10%">
                <strong>Thu</strong><br />
            </td>
            <td width="10%">
                <strong>Fri</strong><br />
            </td>
            <td width="10%">
                <strong>Sat</strong><br />
            </td>
            <td width="10%">
                <strong>Sun</strong><br />
            </td>
          </tr>
          {% for consultant in pagination %}
          <tr>
            <td>
                   {% if file_exists(web_path~asset('uploads/consultants/'~consultant.id~'.'~consultant.path)) %}
                        <img src="{{ asset('uploads/consultants/'~consultant.id~'.'~consultant.path) }}" width="82" height="138" class="img-polaroid span4"/>
                    {% else %}
                        {% if consultant.gender.name == "Male" %}
                            <img src="{{ asset('/img/male.jpg') }}" width="82" height="118" class="img-polaroid span4" />
                        {% else %}
                            <img src="{{ asset('/img/female.jpg') }}" width="82" height="118" class="img-polaroid span4" />
                        {% endif %}

                    {% endif %}
                <ul class="span8 unstyled">
                    <li><a href="{{ path('sked_app_consultant_view', { 'id': consultant.id , 'slug': consultant.getSlug() , 'date' : options.date , 'serviceId' : options.service.id ,'lat': options.lat ,'lng': options.lng, 'categoryId': options.categoryId})}}">{{ consultant.fullName }}</a></li>
                    <li>{% for service in consultant.consultantServices %}
                            <span class="label {{ cycle(['label-info', 'label-warning'], service.id) }}">{{ service.name }}</span>
                        {% else %}
                        {% endfor %}
                    <li>{{ consultant.company.name }}</li>
                    <li>{{ consultant.company.address }}</li>
                    <li>{{consultant.distanceFromPositionString (options.lat, options.lng)}}</li>
                </ul>
            </td>
            <td>
                <!-- monday -->
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Mon'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
           </td>

            <td>
                 <!-- tuesday -->
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Tue'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </td>

            <td>
                                 <!-- tuesday -->
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Wed'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </td>

            <td>
                 <!-- tuesday -->
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Thu'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </td>

            <td>
                <!-- tuesday -->
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Fri'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </td>

            <td>
                                 <!-- tuesday -->
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Sat'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </td>

            <td>
                {% set arrSlots = consultant.getAvailableBookingSlots() %}
                <ul class="unstyled">
                {% for time_slot in arrSlots.time_slots %}
                   {% if time_slot.dow == 'Sun'%}
                      <li>
                        <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': options.service.id}) }}">
                                {{ time_slot.start_time }}
                        </a>
                      </li>
                   {% endif %}
                {% endfor %}
                </ul>
            </td>
            <script language="JavaScript">

            if (!serviceProviders[{{ consultant.company.id }}]) {

                serviceProviderIDs[intSPCnt] = {{ consultant.company.id }};
                intSPCnt++;

                serviceProviders[{{ consultant.company.id }}] = new Array();
                serviceProviders[{{ consultant.company.id }}]['name'] = '{{ consultant.company.name }}';
                serviceProviders[{{ consultant.company.id }}]['address'] = '{{ consultant.company.address }}';
                serviceProviders[{{ consultant.company.id }}]['lat'] = '{{ consultant.company.lat }}';
                serviceProviders[{{ consultant.company.id }}]['lng'] = '{{ consultant.company.lng }}';
                serviceProviders[{{ consultant.company.id }}]['consultants'] = new Array();

                intCCnt = 0;

            } else {
                intCCnt = serviceProviders[{{ consultant.company.id }}]['consultants'].length;
            }

            serviceProviders[{{ consultant.company.id }}]['consultants'][intCCnt] = new Array();
            serviceProviders[{{ consultant.company.id }}]['consultants'][intCCnt]['id'] = '{{ consultant.id }}';
            serviceProviders[{{ consultant.company.id }}]['consultants'][intCCnt]['fullName'] = '{{ consultant.fullName }}';
            intCCnt++;

            </script>

            {% else %}
                <div>
                    <p><span class="label label-important">Sorry!!</span> We could not find anyone to help you out. Please try another search.</p>
                </div>
            {% endfor %}

          </tr>
        </table>
        <div class="btn-group pull-right">
            {{ knp_pagination_render(pagination, null , paginationParams) }}
        </div>
    </div>
</div><!-- End .row-fluid .body-secondary -->
