<script language="JavaScript">

var serviceProviderIDs = new Array();
var serviceProviders = new Array();
var searchLatitude = '{{ options.lat  }}';
var searchLongitude = '{{ options.lng }}';
var searchDate = '{{ options.date }}';
var searchCategoryId = '{{ options.category.id }}';
var searchServiceIds = '{{ options.service.id }}';
var intCCnt = 0;
var intSPCnt = 0;

//Store the selected service
var currentServiceId = {{ options.service.id }};

</script>
<div class="row-fluid body-secondary rounded-bottom" id="results">
    <div class="span12">
        {% render "SkedAppSearchBundle:Search:showResults" with { 'paginator' : pagination, 'serviceId' : options.service.id, 'options': options } %}    
        <div class="btn-group pull-right">
            {{ knp_pagination_render(pagination, null , paginationParams) }}
        </div>
    </div>
</div><!-- End .row-fluid .body-secondary -->
