{% extends "SkedAppCoreBundle::base.mail.html.twig" %}
{% block body %}
    <p style="margin-bottom: 6pt;">Hi {{ user.firstName }} {{ user.lastName }},</p>
    <p style="margin-bottom: 6pt;">You have a new booking on SkedApp.</p>
    <p style="margin-bottom: 6pt;"></p>
    <p style="margin-bottom: 6pt;">Booking details are as follows:</p>
    <p style="margin-bottom: 6pt;">
        <strong>Booking date</strong>: {{ date }} <br/>
        <strong>Consultant</strong>: {{ consultant.fullName }} <br/>
        <strong>Service</strong>: {{ service.name }} <br />
        <strong>Customer name</strong>: {{ customer.fullName }} <br />
        <strong>Customer contact</strong>: Tel {{ customer.mobileNumber }} Email {{ customer.email }}
    </p>
{% endblock body %}