{% extends "SkedAppCoreBundle::base.mail.html.twig" %}
{% block body %}
    <p style="margin-bottom: 6pt;">Hi {{ fullName }},</p>
    <p style="margin-bottom: 6pt;">This is your booking reminder email.</p>
    <p style="margin-bottom: 6pt;"></p>
    <p style="margin-bottom: 6pt;">Your booking details are as follows:</p>
    <p style="margin-bottom: 6pt;"><strong>Consultant</strong>: {{ consultant.firstName }} {{ consultant.lastName }} <br/> <strong>Service to be tendered </strong>: {{ service.name }}  <br /><strong>Date</strong>: {{ date }}<br /></p>
    <p style="margin-bottom: 6pt;">Business contact details: <br/> {{ provider.name }} <br /><br /> {{ provider.contactNumber }} <br> {{ provider.address }} <br />{{ provider.locality }} <br /></p>
    <p style="margin-bottom: 6pt;">GPS cordinates: <br /> lattidude: {{ provider.lat }} <br /> longitude: {{ provider.lng }}</p>
{% endblock body %}