{% extends "SkedAppCoreBundle::base.mail.html.twig" %}
{% block body %}
    <table width="100%">
        <tr>
            <td style="font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#FFF;padding-left:15px;padding-right:15px;padding-top:10px;padding-bottom:10px;text-align:center; background-color:#176ACE;border:1px solid #777;">
                <font size="+2">Pending Appointment</font>
            </td>
        </tr>
    </table><br /><br />
    <p style="margin-bottom: 6pt;">Hi {{ user.firstName }}! Your appointment has been scheduled, and you will receive a confirmation shortly.</p>
    <p style="margin-bottom: 6pt;">If this time no longer suits you, please cancel this appointment and reschedule by loggin on to {{url}} .</p><br/>
    <p style="margin-bottom: 6pt;"><u>Your Appointment Details:</u></p>
    <p style="margin-bottom: 6pt;"><strong>{{bookingDate|date('Y-m-d')}} @ {{bookingDate|date('H:i')}}</strong> with <strong>{{ consultant.fullName }}</strong></p>
    <p style="margin-bottom: 6pt;">{{ company.address }}<br />{{ company.contactNumber }}</p>
    <p style="margin-bottom: 6pt;">GPS:{{ company.completeGPS }}</p>
{% endblock body %}