<form action="{{ path('sked_app_member_reset_token', { token:token }) }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
      <label for="new_password">{{ form_label(form.password.first) }}</label>
      {{ form_widget(form.password.first) }}
      <span class="help-inline">{{form_errors(form.password.first)}}</span>
      <div class="spacer1"></div>
      <label for="confirm_new_password">{{ form_label(form.password.second) }}</label>
      {{ form_widget(form.password.second) }}
      <span class="help-inline">{{form_errors(form.password.second)}}</span>
      {{ form_rest(form) }}
     <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <button type="submit" name="submit" class="btn btn-warning" data-toggle="button">Submit <i class="icon-white icon-circle-arrow-right"></i></button>
        </div>
        <div class="btn-group">
            <a href="{{ path('_welcome') }}" class="btn">Cancel</a>
        </div>
     </div>      
  </fieldset>
</form>
{{ form_stylesheet(form) }}
{{ form_javascript(form) }}

