{% extends "SkedAppCompanyBundle::layout.html.twig" %}
{% block title %}SkedApp | Service Provider Profile{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}        
<div class="row-fluid body-secondary">
    <div class="span12">
    <div class="span6">
        
            <h3>Service Provider Profile</h3>
            <div class="white-bg">
                <div class="image-shadow pull-left space-right20">
                    <div class="img-polaroid polaroid-width120">
                        <div class="image-dimensions120">
                            <a href="{{ asset('/uploads/companies/'~company.id~'.'~company.path) }}" class="lightbox"><img src="{{ asset('/uploads/companies/'~company.id~'.'~company.path) }}" /></a>
                        </div>
                    </div>
                </div>
                <table class="pad-right gray-text">
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Details: </strong></td>
                        <td>{{ company.contactNumber }}</td>
                    </tr>
                    <tr>
                        <td><strong>Description: </strong></td>
                        <td>{{ company.description|raw }}</td>
                    </tr>
                </table>
                
                <div class="clearfix"></div>
                <div class="spacer1"></div>

            </div>
            <div class="spacer1"></div>
            <h3>Photos</h3>
            <div id="gallery" class="bs-docs-example bs-docs-example-images">
                {% for photo in company.companyPhotos %}
                    {% if photo.isDeleted != "true" %}
                    <div class="img-polaroid image-dimensions80 space-right7">
                        <a href="{{ asset('/uploads/company_photos/'~photo.id~'.'~photo.path) }}" class="lightbox"><img src="{{ asset('/uploads/company_photos/'~photo.id~'.'~photo.path) }}" title="{{photo.caption}}"></a>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="pull-left img-polaroid image-dimensions80 space-right7 space-right-bottom">
                        <img src="{{ asset('/img/photo-gallery.png') }}">
                    </div>
                    {% endfor %}
                <div class="clearfix"></div>    
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="spacer1"></div>
                <div class="btn-toolbar pull-right">
                    <a href="{{ path('sked_app_service_provider_add_photo', {'serviceProviderId': company.id }) }}.html" title="Add a photo" class="btn btn-warning">Add photo</a>
                    <a href="{{ path('sked_app_service_provider_photo_list', {'serviceProviderId': company.id }) }}.html" title="Add a photo" class="btn btn-primary">Manage Photos</a>                
                </div>
            {% endif %}
    </div>
    <div class="span6">
        {% render url('sked_app_service_provider_show_map', { 'id': company.id }) %}
    </div>
    </div>
</div> <!-- End .row-fluid -->
{% endblock body %}