{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="btn-group pull-right">
    {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="btn">First</a>
    {% endif %}

         {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn">Prev</a>
    {% endif %}


    {% for page in pagesInRange %}
        {% if page != current %}
         <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"  class="btn">{{ page }}</a>
        {% else %}
         <a href="" class="btn active">{{ page }}</a>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn">Next</a>
    {% endif %}

    {% if last is defined and current != last %}
        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="btn">Last</a>
    {% endif %}
    </ul>
</div>
{% endif %}



