<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}SkedApp | An Error Occurred{% endblock %}</title>
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/chosen.css') }}" rel="stylesheet">
         <!-- Custom Styles for Bootstrap -->
        <link href="{{ asset('/css/custom-styles.css') }}" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
        <!-- Fav- and touch- icons -->
        <link rel="shortcut icon" href="{{ asset('/ico/favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('/ico/favicon.ico') }}" />
        <!-- load dynamic style sheet -->
</head>
<body>

<div id="wrap">
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner"></div>
     </div>
     <div id="nav-push"></div>
     <div class="container" style="margin-top: 8%;">
        <h2 class="error-text-404">OOPS! An error occurred</h2>
        <p class="error-text-404">The server returned a "{{ status_code }} {{ status_text }}".</p>
        <div>
            <img class="image-404" src="{{ asset('/img/404-error.png') }}">
            <p class="error-text-404">Please e-mail us at <a href="mailto:support@skedapp.co.za">support@skedapp.co.za</a> and let us know
            what you were doing when this error occurred.
            <br/>We apologize for the inconvenience. Click <a href="{{ path('_welcome')}}" title="Go to home page">here</a> to return to the homepage
            </p>
        </div>
        </div>
        <div class="spacer2"></div>
        <div id="nav-push"></div>
<div class"clearfix"></div>
</div>

<div id="footer">
    <p>SkedApp &copy; {{ date().format('Y') }}  |  <a href="{{ path('_welcome')}}">Make a Booking</a>  |  Contact Us  |  Privacy Statement  |  Terms & Conditions</p>
</div>
</body>
</html>