<form action="{{ path('sked_app_service_create') }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
      <label for="name">{{ form_label(form.name) }}</label>
      {{ form_widget(form.name) }} 
      <span class="help-inline">{{form_errors(form.name)}}</span>    
      <label for="description">{{ form_label(form.description) }}</label>
      {{ form_widget(form.description) }} 
      <span class="help-inline">{{form_errors(form.description)}}</span>    
      <label for="category">{{ form_label(form.category) }}</label>
      {{ form_widget(form.category) }} 
      <span class="help-inline">{{form_errors(form.category)}}</span>    
      <label for="appointmentDuration">{{ form_label(form.appointmentDuration) }}</label>
      {{ form_widget(form.appointmentDuration) }} 
      <span class="help-inline">{{form_errors(form.appointmentDuration)}}</span>    
       <div class="btn-toolbar pull-right">
            
          <button class="btn btn-warning">Submit <i class="icon-white icon-circle-arrow-right"></i></button>
                    &nbsp;&nbsp;<a href="{{ path('sked_app_service_list') }}" class="btn">Cancel</a>
      
</div>  
      {{ form_rest(form) }} 
  </fieldset>
</form>
{{ tinymce_init() }}
     