<form action="{{ path('sked_app_service_update' , { id : id }) }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
        <div class="control-group {% if form_errors(form.name) %} error {% endif %}">
            <div class="control-label" for="name">{{ form_label(form.name) }}</div>
            <div class="controls">
                {{ form_widget(form.name) }}
                <span class="help-inline">{{form_errors(form.name)}}</span>    
            </div>
        </div>         
        <div class="control-group {% if form_errors(form.description) %} error {% endif %}">
            <div class="control-label" for="description">{{ form_label(form.description) }}</div>
            <div class="controls">
                {{ form_widget(form.description) }}
                <span class="help-inline">{{form_errors(form.description)}}</span>    
            </div>
        </div>         
        <div class="control-group {% if form_errors(form.category) %} error {% endif %}">
            <div class="control-label" for="category">{{ form_label(form.category) }}</div>
            <div class="controls">
                {{ form_widget(form.category) }}
                <span class="help-inline">{{form_errors(form.category)}}</span>    
            </div>
        </div>         
        <div class="control-group {% if form_errors(form.appointmentDuration) %} error {% endif %}">
            <div class="control-label" for="appointmentDuration">{{ form_label(form.appointmentDuration) }}</div>
            <div class="controls">
                {{ form_widget(form.appointmentDuration) }}
                <span class="help-inline">{{form_errors(form.appointmentDuration)}}</span>    
            </div>
        </div>         
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button type="submit" name="submit" class="btn btn-warning">Submit <i class="icon-white icon-circle-arrow-right"></i></button>
            </div>
            <div class="btn-group">
                <a href="{{ path('sked_app_service_list') }}.html" class="btn btn-small">Cancel</a>
            </div>
        </div>
      {{ form_rest(form) }} 
  </fieldset>
</form>
{{ tinymce_init() }}
     