<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Appointment scheduling tool">
        <meta name="author" content="">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome to SkedApp{% endblock %}</title>    
        <!-- Bootstrap Assets -->
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/chosen.css') }}" rel="stylesheet">
         <!-- Custom Styles for Bootstrap -->
        <link href="{{ asset('/css/custom-styles.css') }}" rel="stylesheet">   

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
        <!-- Fav- and touch- icons -->
        <link rel="shortcut icon" href="{{ asset('/ico/favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('/ico/favicon.ico') }}" />
        <!-- load dynamic style sheet -->    
        {% block stylesheets %}{% endblock %} 
        <!-- load jquery -->
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <!-- load jquery ui -->
        {% block jquery_ui %}{% endblock jquery_ui %}
    </head>
    <body>
        <div id="wrap">
        {% block navigation %}            
            <div class="navbar navbar-static-top">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                            <div class="container">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <ul class="nav pull-right">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path("sked_app_company_list") }}" title="View your admin dashboard">Dashboard</a></li>    
                                    {% elseif is_granted('ROLE_CONSULTANT_ADMIN') %}   
                                        <li><a href="{{ path("sked_app_company_list") }}" title="View your admin dashboard">Dashboard</a></li>    
                                    {% elseif is_granted('ROLE_CONSULTANT_USER') %}   
                                        <li><a href="{{ path("sked_app_consultant_show", {'id': app.user.id }) }}" title="View your calender">Bookings</a></li>    
                                    {% elseif is_granted('ROLE_SITE_USER') %}   
                                        <li><a href="{{ path("sked_app_customer_list_bookings", {'id':app.user.id }) }}" title="View my bookings">Bookings</a></li>    
                                        <li><a href="#">Make a Booking</a></li>
                                    {% endif %}  
                                    <li class="active"><a href="{{ path("_security_logout")}}"><i class="icon-white icon-off"></i> Logout</a></li>
                                </ul>
                                {% else %}    
                                <ul class="nav pull-right">
                                    <li class="active"><a href="#">Make a Booking</a></li>
                                    {% if booking_attempt is defined %}
                                        <li><a href="{{ path("sked_app_customer_register", {'booking_attempt': booking_attempt, 'company_id': company_id, 'consultant_id': consultant_id, 'booking_date': booking_date, 'timeslot_start': timeslot_start, 'service_ids': service_ids}) }}" title="Register an account">Register an Account</a></li>
                                    {% else %}
                                        <li><a href="{{ path("sked_app_customer_register") }}" title="Register an account">Register an Account</a></li>
                                    {% endif %}
                                    <li><a href="{{ path("_security_login")}}" title="Login into your account"><i class="icon-user icon-white"></i> Login</a></li>
                                </ul>  
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div> <!-- End .navbar -->

        {% endblock navigation%}
            <div class="container">
                
                <div class="row-fluid">
                    <div class="span3">
                        <a href="#" class="logo"><img src="{{ asset('/img/skedapp-logo.png') }}" width="172" height="130" alt="SkedApp" title="SkedApp" /></a>
                    </div>
                    <div class="span9">
                        <h3>Search, Locate and Schedule services in your area.</h3>
                    </div>
                </div> <!-- End .row-fluid -->
                {% block menu%}
                
                {% endblock menu %}

            {% if error is defined %}
                <div class="spacer2"></div>
                {% if error %}
                <div class="alert alert-error">
                    <button class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Warning!</h4>
                    Your username and password are invalid, please try again or contact support.
                </div>
                {% endif %}                      
            {% endif %}
            <div class="spacer2"></div>
            {% block body %} 

            {% endblock body %}        

            <div id="push"><!-- This #push div ALWAYS need to be above the end of the .container div --></div>
        </div> <!-- End container -->
        </div><!-- End .wrap -->    
            
        {% block footer %}
           <div id="footer">
                <p>SkedApp © 2013  |  Make a Booking  |  Contact Us  |  Privacy Statement  |  Terms & Conditions</p>
           </div> <!-- End footer -->
        {% endblock %}
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('/js/chosen.jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('/js/main.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </body>
    </html>
