<div class="well sidebar-nav emphasize-dark" style="margin-top: 20px;">
    <ul class="nav nav-list">
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('sked_app_company_list') }}"><i class="icon-chevron-right"></i>Manage service providers</a></li>
        <li><a href="{{ path('sked_app_member_list') }}"><i class="icon-chevron-right"></i>Manage Members</a></li>
        <li><a href="{{ path('sked_app_category_list') }}"><i class="icon-chevron-right"></i>Manage categories</a></li>
        <li><a href="{{ path('sked_app_service_list') }}"><i class="icon-chevron-right"></i>Manage services</a></li>
        <li><a href="{{ path('sked_app_consultant_list') }}"><i class="icon-chevron-right"></i>Manage consultants</a></li>
        <li><a href="{{ path('sked_app_customer_list') }}"><i class="icon-chevron-right"></i>Manage customers</a></li>
        <li><a href="{{ path('sked_app_booking_manager')}}"><i class="icon-chevron-right"></i>Manage bookings</a></li>
        {% endif %}
    </ul>
</div><!--/.well -->
