<form action="{{ path('sked_app_consultant_update',{'slug':company.slug}) }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
      <div class="control-group {% if form_errors(form.company) %} error {% endif %}">
          <div class="control-label" for="company">{{ form_label(form.company) }}</div>
          <div class="controls">
              {{ form_widget(form.company) }} 
              <span class="help-inline">{{form_errors(form.company)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.firstName) %} error {% endif %}">
          <div class="control-label" for="first_name">{{ form_label(form.firstName) }}</div>
          <div class="controls">
              {{ form_widget(form.firstName) }} 
              <span class="help-inline">{{form_errors(form.firstName)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.lastName) %} error {% endif %}">
          <div class="control-label" for="last_name">{{ form_label(form.lastName) }}</div>
          <div class="controls">
              {{ form_widget(form.lastName) }} 
              <span class="help-inline">{{form_errors(form.lastName)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.gender) %} error {% endif %}">
          <div class="control-label" for="gender">{{ form_label(form.gender) }}</div>
          <div class="controls">
              {{ form_widget(form.gender) }} 
              <span class="help-inline">{{form_errors(form.gender)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.picture) %} error {% endif %}">
          <div class="control-label" for="pictures">{{ form_label(form.picture) }}</div>
          <div class="controls">
              {{ form_widget(form.picture) }} 
              <span class="help-inline">{{form_errors(form.picture)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.professionalStatement) %} error {% endif %}">
          <div class="control-label" for="professional_statement">{{ form_label(form.professionalStatement) }}</div>
          <div class="controls">
              {{ form_widget(form.professionalStatement) }} 
              <span class="help-inline">{{form_errors(form.professionalStatement)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.speciality) %} error {% endif %}">
          <div class="control-label" for="speciality">{{ form_label(form.speciality) }}</div>
          <div class="controls">
              {{ form_widget(form.speciality) }} 
              <span class="help-inline">{{form_errors(form.speciality)}}</span>
          </div>
      </div>
      <div class="control-group {% if form_errors(form.category) %} error {% endif %}">
          <div class="control-label" for="category">{{ form_label(form.category) }}</div>
          <div class="controls">
              {{ form_widget(form.category) }} 
              <span class="help-inline">{{form_errors(form.category)}}</span>
          </div>
      </div>          
      <div class="control-group {% if form_errors(form.consultantServices) %} error {% endif %}">
          <div class="control-label" for="consultant_services">{{ form_label(form.consultantServices) }}</div>
          <div class="controls">
              {{ form_widget(form.consultantServices) }} 
              <span class="help-inline">{{form_errors(form.consultantServices)}}</span>
          </div>
      </div>

      <div class="control-group">
         <div class="control-label" for="time_slots">Default time slots</div> 
        <div class="controls">
            <div style="border: 1px solid #ccc; padding: 5px;width: 96%;">
                <table style="font-size: 12px;">
                    <tr>
                        <td>Days:<td>
                        <td>&nbsp;{{ form_widget(form.monday) }}<strong class="text-top">M</strong>&nbsp;<td>
                        <td>&nbsp;{{ form_widget(form.tuesday) }}<strong class="text-top">T</strong>&nbsp;</td>
                        <td>&nbsp;{{ form_widget(form.wednesday) }}<strong class="text-top">W</strong>&nbsp;</td>
                        <td>&nbsp;{{ form_widget(form.thursday) }}<strong class="text-top">T</strong>&nbsp;</td>
                        <td>&nbsp;{{ form_widget(form.friday) }}<strong class="text-top">F</strong>&nbsp;</td>
                        <td>&nbsp;{{ form_widget(form.saturday) }}<strong class="text-top">S</strong>&nbsp;</td>
                        <td>&nbsp;{{ form_widget(form.sunday) }}<strong class="text-top">S</strong>&nbsp;</td>
                    </tr>
                </table>
                <div style="float: left; margin: 8px 8px 0 0;padding-top: 5px;">
                    Time from:{{ form_widget(form.startTimeslot) }} 
                </div>
                <div style="margin: 8px 8px 0 0;padding-top: 5px;">
                    Time to:{{ form_widget(form.endTimeslot) }} 
                </div>
                <div style="margin-top: 13px;">
                     Session length: {{ form_widget(form.appointmentDuration) }} 
                </div>

            </div>

        </div>
      </div>    
      <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button type="submit" name="submit" class="btn btn-warning">Update <i class="icon-white icon-circle-arrow-right"></i></button>
            </div>
            <div class="btn-group">
                <a href="{{ path('sked_app_consultant_list') }}.html" class="btn btn-small">Cancel</a>
            </div>
        </div>  
      {{ form_rest(form) }}
  </fieldset>
</form>
{{ tinymce_init() }}
