<div class="row-fluid">
    <ul class="nav nav-tabs pull-right">
        {% if is_granted('ROLE_CONSULTANT_USER') %}
            {% if controller == 'profile'%}
                <li class="active"><a href="{{ path('sked_app_consultant_show' , {'slug':consultant.slug }) }}" title="my profile">Profile</a></li>
            {% else %}
                <li><a href="{{ path('sked_app_consultant_show' , {'slug':consultant.slug  }) }}" title="my profile">Profile</a></li>
            {% endif %}

            {% if controller == 'bookings'%}
                <li class="active"><a href="{{ path('sked_app_consultant_booking_show' , {'id':consultant.id }) }}" title="my bookings">Bookings</a></li>
            {% else %}
                <li><a href="{{ path('sked_app_consultant_booking_show' , {'id':consultant.id }) }}" title="my bookings">Bookings</a></li>
            {% endif %}

            {% if controller == 'print'%}
                <li class="active"><a href="{{ path('sked_app_consultant_booking_day_print' , {'id':consultant.id }) }}" title="print bookings">Print Bookings</a></li>
            {% else %}
                <li><a href="{{ path('sked_app_consultant_booking_day_print' , {'id':consultant.id }) }}" title="print bookings">Print Bookings</a></li>
            {% endif %}

        {% endif%}
    </ul>
</div> <!-- End .row-fluid -->
<div class="row-fluid nav-active"><!-- This is just a spacer to show which page is active --></div>
<div class="row-fluid content-devider"><!-- This is just a visual devider to seperate the content from the navigation --></div>



