{% extends "SkedAppConsultantBundle::layout.html.twig" %}

{% block title %}Consultant Profile{% endblock %}

{% block body %}
<div class="row-fluid body-main rounded-all">
    <div class="span5">
        <div class="forms-background">
        <h4>Consultant Profile</h4>
            <div class="whiteBackground">
                {% if file_exists(web_path~asset('uploads/consultants/'~consultant.id~'.'~consultant.path)) %}
                        <img src="{{ asset('uploads/consultants/'~consultant.id~'.'~consultant.path) }}" width="140px" height="140px" class="space-left space-right pull-left img-polaroid"/>
                {% else %}
                        {% if consultant.gender.name == "Male" %}
                            <img src="{{ asset('/img/male.jpg') }}" width="140px" height="140px" class="space-right pull-left img-polaroid"/>
                        {% else %}
                            <img src="{{ asset('/img/female.jpg') }}" width="140px" height="140px" class="space-right pull-left img-polaroid"/>
                        {% endif %}
                        
                {% endif %}
                <div style="padding-right: 10px;"class="">
                    <strong class="dark-gray-text">Full name: </strong><span class="gray-text">{{ consultant.fullName }}</span></br>
                    <strong class="dark-gray-text">Gender: </strong><span class="gray-text">{{ consultant.gender.name }}</span></br>
                    <strong class="dark-gray-text">Employer: </strong><span class="gray-text">{{ consultant.company.name }}</span></br>
                    <strong class="dark-gray-text">Services: </strong>
                                        {% for service in consultant.consultantServices %}
                                          <span class="label {{ cycle(['label-info', 'label-warning'], service.id) }}">{{ service.name }}</span>                                         
                                        {% else %}
                                         No listed services found.
                                        {% endfor %}
                    <br />                     
                    <strong class="dark-gray-text">Speciality: </strong><span class="gray-text">{{ consultant.speciality | striptags }}</span></br>
                    <strong class="dark-gray-text">Professional statement: </strong><span class="gray-text">{{ consultant.professionalStatement | striptags }}</span></br>

                </div>
                <div class="clearfix"></div>
                <div class="spacer1"></div>
                <table class="table table-bordered">
                <tbody>
                <tr>
                  {% set arrSlots = consultant.getAvailableBookingSlots() %}  
                    {% for time_slot in arrSlots.time_slots %}      
                    <td class="dark-gray-text"><strong>{{ time_slot.start_time }}</strong><br><em><small>{{ time_slot.date }} {{ time_slot.year }}</small></em></td>
                    {% endfor %}
                </tr>
                </tbody>
                </table>
            </div>
        <h4>Service Provider Pictures</h4>
        <div class="bs-docs-example bs-docs-example-images">
        {% for photo in consultant.company.companyPhotos %}
                   <img src="{{ asset('/uploads/company_photos/'~photo.id~'.'~photo.path) }}" style="width:80px; height:80px" class="img-polaroid space-right7 space-right-bottom">   
        {% else %}
                    <img src="{{ asset('/img/gallery.png') }}"  class="img-polaroid space-right7 space-right-bottom">
                    <img src="{{ asset('/img/gallery.png') }}" class="img-polaroid space-right7 space-right-bottom">
                    <img src="{{ asset('/img/gallery.png') }}" class="img-polaroid space-right7 space-right-bottom">
        {% endfor %} 
        <div class="clearfix"></div>
        <div class="spacer1"></div>
        <a href="{{ path('sked_app_search_query',{ 'date' : options.date , 'serviceId' : options.service.id ,'lat': options.lat ,'lng': options.lng, 'categoryId': options.categoryId})}}"  class="btn btn-warning pull-right">Back to Search <i class="icon-white icon-circle-arrow-right"></i></a>
        <div class="clearfix"></div>
        </div>
        <div class="spacer2"></div>
        <div class="spacer1"></div>
        </div>
    </div>
    <div class="span7">
        {% render url('sked_app_service_provider_show_map', { 'id': consultant.company.id }) %}
    </div> <!-- End .row-fluid -->
</div>    
{% endblock body %}
