{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}View consultant details{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/fullcalendar.css') }}" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block javascripts %}
<script src="{{ asset('/js/fullcalendar.min.js') }}"></script>
<script src="{{ asset('/js/jquery.qtip-1.0.0-rc3.min.js') }}"></script>
{% endblock %}


{% block menu %}
   {% if is_granted('ROLE_ADMIN') %}
        {% include "::menu.html.twig" %}
   {% elseif is_granted('ROLE_CONSULTANT_USER') %}
        {% include "SkedAppConsultantBundle:Consultant:menu.html.twig" with {'consultant' : consultant,'controller': 'bookings' } %}
   {% endif %}
{% endblock menu %}   
       

{% block body %}
    <div class="row-fluid body-secondary">
    <div class="span12" style="margin-left: 0px">
        <h3>Consultant profile</h3>
        <div class="span5" style="margin-left: 0px">
           {% set vars = {'action': 'Bookings'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="clearfix"></div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li><a href="{{ path("sked_app_consultant_show",{"slug":consultant.slug})}}">Personal details</a></li>
                <li class="active"><a href="#tab1" data-toggle="tab">Bookings</a></li>
                <li><a href="#tab2" data-toggle="tab">List Bookings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                        <div style="margin-left: 0px;">
                            <div id="calendar"></div>
                        </div>
                    
                </div>
                <div class="tab-pane" id="tab2">
                    <input type="hidden" id="hiddenCompanyId" name="company" value="{{ companyId }}" />
                    <input type="hidden" id="BookingListFilter_consultant" name="BookingListFilter[consultant]" value="{{ consultant.id }}" />
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="consultant">{{ form_label(form.filterDate) }}</label>
                            <div class="controls">
                                {{ form_widget(form.filterDate) }}
                                <span class="help-inline">{{form_errors(form.filterDate)}}</span>
                            </div>
                        </div>
                    </fieldset>

                    <div id="bookingList"></div>

                </div>
            </div>
        </div>
     </div>
</div>

        <script type='text/javascript'>

                   function loadBookingList (consultantSelect, dateInput) {
                       //Load the list of bookings
                       $('#bookingList').load(
                               Routing.generate('sked_app_booking_ajax_bookings_list'),
                               { company: $('#hiddenCompanyId').attr('value'), consultant: consultantSelect.attr('value'), filterDate: dateInput.attr('value') }
                           );
                   }

                   $(document).ready(function() {

                      $('#calendar').fullCalendar({
                        header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,basicWeek,basicDay'
                        },
                        defaultView: 'basicDay',
                        editable: true,
                        selectable: false,
                        selectHelper: true,
                        events: Routing.generate('sked_app_consultant_ajax_get_all_bookings', { consultantId : {{ consultant.id}}}, true ),
                        eventRender: function(event, element) {
                            element.qtip({
                                content: event.description,
                                position: {
                                    corner: {
                                        tooltip: 'bottomMiddle',
                                        target:  'topMiddle'
                                    }
                                }
                            });
                        },
                        timeFormat: 'H:mm'

                      });

                      loadBookingList ($('#BookingListFilter_consultant'), $('#BookingListFilter_filterDate'));

                      $('#BookingListFilter_filterDate').change(function() {
                              //When selecting a consultant, update the booking list
                              loadBookingList ($('#BookingListFilter_consultant'), $('#BookingListFilter_filterDate'));
                          });

                   });

            </script>
{% endblock body %}
