{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}View consultant details{% endblock %}

{% block body %}
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
       {% if is_granted('ROLE_ADMIN') %}
            {% include "::menu.html.twig" %}        
       {% elseif is_granted('ROLE_CONSULTANT_USER') %}
            {% include "SkedAppConsultantBundle:Consultant:menu.html.twig" %}             
       {% endif %}            
    </div>       
    {% endblock menu %}   
    {% block content %}
    <div class="span9">
        <h3>Consultant profile</h3>                
        <div class="span9" style="margin-left: -15px">
           {% set vars = {'action': 'Profile'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{{ path("sked_app_consultant_show",{"id":consultant.id})}}">Personal details</a></li>                        
                        <li><a href="{{ path("sked_app_consultant_booking_show",{'id':consultant.id})}}">Bookings</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="row">
                                <div class="span2"><img src="/uploads/consultants/{{ consultant.id }}.{{ consultant.path }}" width="150px" height="120px" alt="profile picture" class="img-polaroid"></div>
                                <div class="span4">
                                    <p><strong>Fullname</strong>: {{ consultant.firstName }} {{ consultant.lastName }}</p>
                                    <p><strong>Gender</strong>: {{ consultant.gender.name }}</p>
                                    <p><strong>Employer</strong>: {{ consultant.company.name }}</p>
                                    <p>
                                        <strong>Services</strong>: 
                                        {% for service in consultant.consultantServices %}
                                          <span class="label {{ cycle(['label-inverse', 'label-success'], service.id) }}">{{ service.name }}</span>                                         
                                        {% else %}
                                         No listed services found.
                                        {% endfor %}

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>Howdy, I'm in Section 2.</p>
                        </div>
                    </div>
                </div>
    </div>  
    {% endblock content %}   
{% endblock body %}