{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}View consultant details{% endblock %}

{% block body %}
<div class="row-fluid body-secondary">
<div class="span12">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Personal Details</a></li>
      <li><a href="#tab2" data-toggle="tab">Bookings</a></li>
    </ul>
      <div class="tab-content" id="tab1">
        <div class="tab-pane active">
                <div class="span6">              
                <h4>Consultant Profile</h4>
                
                    {% if file_exists(web_path~asset('uploads/consultants/'~consultant.id~'.'~consultant.path)) %}
                        <img src="{{ asset('uploads/consultants/'~consultant.id~'.'~consultant.path) }}" class="space-left space-right pull-left img-polaroid"/>
                    {% else %}
                        {% if consultant.gender.name == "Male" %}
                            <img src="{{ asset('/img/male.jpg') }}" width="140px" height="140px" class="space-right pull-left img-polaroid"/>
                        {% else %}
                            <img src="{{ asset('/img/female.jpg') }}" width="140px" height="140px" class="space-right pull-left img-polaroid"/>
                        {% endif %}
                        
                    {% endif %}
                        
                        <ul class="pull-left padding-left unstyled span6">
                              <li><strong>Fullname:</strong> <a href="#">{{ consultant.fullName }}</a></li>
                              <li><strong>Services:</strong> <span class="label label-warning">Mens Cut</span> <span class="label label-info">Womans Cut</span> <span class="label label-warning">Blow Wave</span></li>
                              <li><strong>Service Provider:</strong> SkedApp</li>
                              <li><strong>Address:</strong> Kempton Park, South Africa</li>
                              <li><strong>Distance from you:</strong> 5km</li>
                              <li><strong>GPS:</strong> 26° 6' 27.094" S 28° 3' 23.964" E</li>
                          </ul>
                         

                    <div class="clearfix"></div>
                    <div class="spacer1"></div>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>

                                {{ consultant.getAvailableBookingSlots | ladybug_dump }}    

                            </tr>
                        </tbody>
                    </table>
        </div> <!-- End .span6 -->
        <div style="width: 48.265%"class="span7">
        <div class="map-box">
            <div class="g-maps"></div>
            <small class="whiteText">Use the controls on the map to pinpoint your position.</br> Click and hold to drag the marker to where you are.</small>
            <div class="spacer1"></div>
        </div>
    </div>

                    

</div>
</div>
</div>
</div>
</div> <!-- End .row-fluid -->

{% endblock body %}