{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}View consultant profile{% endblock %}

{% block body %}
    {% block content %}

        <script language="JavaScript">

        var serviceProviderIDs = new Array();
        var serviceProviders = new Array();
        var searchLatitude = '{{ intPositionLat }}';
        var searchLongitude = '{{ intPositionLong }}';
        var searchDate = '{{ dateFull }}';
        var searchCategoryId = '{{ category_id }}';
        var searchServiceIds = '{{ serviceIds }}';
        var intCCnt = 0;
        var intSPCnt = 0;

        serviceProviderIDs[intSPCnt] = {{ consultant.company.id }};
        intSPCnt++;

        serviceProviders[{{ consultant.company.id }}] = new Array();
        serviceProviders[{{ consultant.company.id }}]['name'] = '{{ consultant.company.name }}';
        serviceProviders[{{ consultant.company.id }}]['address'] = '{{ consultant.company.address }}';
        serviceProviders[{{ consultant.company.id }}]['lat'] = '{{ consultant.company.lat }}';
        serviceProviders[{{ consultant.company.id }}]['lng'] = '{{ consultant.company.lng }}';
        serviceProviders[{{ consultant.company.id }}]['consultants'] = new Array();

        intCCnt = 0;

        serviceProviders[{{ consultant.company.id }}]['consultants'][intCCnt] = new Array();
        serviceProviders[{{ consultant.company.id }}]['consultants'][intCCnt]['id'] = '{{ consultant.id }}';
        serviceProviders[{{ consultant.company.id }}]['consultants'][intCCnt]['fullName'] = '{{ consultant.fullName }}';
        intCCnt++;

        </script>

            <div class="span12">
                <h4>Consultant profile</h4>
                <div class="pull-right">
                    <a href="{{path('sked_app_search_query', {'category_id': category_id, 'date': dateFull, 'pos_lat': intPositionLat, 'pos_lng': intPositionLong, 'service_ids': serviceIds}) }}">Back to Search</a>
                    <br />

                    {#start form display===============================#}
                        {% include "SkedAppSearchBundle:Search:form.search.date.html.twig" %}
                    {#end form display===============================#}

                </div>

        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Personal details</a></li>
                        <li><a href="#tab2" data-toggle="tab">Location Details</a></li>
                        <li><a href="#tab3" data-toggle="tab">Location Photos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="row">
                                <div class="span2"><img src="/uploads/consultants/{{ consultant.id }}.{{ consultant.path }}" width="150px" height="120px" alt="profile picture" class="img-polaroid"></div>
                                <div class="span4 margintop15px">

                                    <div class="span2">
                                      <p><strong>Full name</strong>: {{ consultant.firstName }} {{ consultant.lastName }}</p>
                                      <p><strong>Gender</strong>: {{ consultant.gender.name }}</p>
                                      <p><strong>Employer</strong>: <a href="{{ path('sked_app_service_provider_show',{'id':consultant.company.id})}}.html" title="View service provider profile">{{ consultant.company.name }}</a></p>
                                      <p><strong>Speciality</strong>: <br /> {{ consultant.speciality|raw }}</p>
                                      <p><strong>Professional Statement</strong>: <br /> {{ consultant.professionalStatement|raw }}</p>

                                      {% if intPositionLat != 0 and intPositionLong != 0 %}
                                      <span>
                                            <label class="lblView">
                                                Distance from you:<br />
                                                <span class="spnNotes">(Point to point)</span>
                                            </label>
                                            <div class="divViewData">
                                                {{consultant.distanceFromPositionString (intPositionLat, intPositionLong)}}
                                            </div>

                                      </span>
                                      {% endif %}

                                      <p>
                                          <strong>Services</strong>:
                                          {% for service in consultant.consultantServices %}
                                            <span class="label {{ cycle(['label-inverse', 'label-success'], service.id) }}">{{ service.name }}</span>
                                          {% else %}
                                           No listed services found.
                                          {% endfor %}

                                      </p>
                                      <p><a href="{{ path("sked_app_invite_friends_consultant",{'id':consultant.id})}}" class="btn btn-warning" data-toggle="button" >"Refer a friend</a></p>
                                    </div>

                                    <div class="span2 pull-right mapInterface">
                                        <div id="map_canvas" class="img-polaroid mapRadius"></div>
                                    </div>
                                    <div style="clear: both;"></div>

                                    <input type="hidden" id="Search_address" name="Search[address]" value="" />
                                    <input type="hidden" id="Search_locality" name="Search[locality]" value="" />
                                    <input type="hidden" id="Search_administrative_area_level_2" name="Search[administrative_area_level_2]" value="" />
                                    <input type="hidden" id="Search_administrative_area_level_1" name="Search[administrative_area_level_1]" value="" />
                                    <input type="hidden" id="Search_country" name="Search[country]" value="" />
                                    <input type="hidden" id="Search_lat" name="Search[lat]" value="{{ intPositionLat }}" />
                                    <input type="hidden" id="Search_lng" name="Search[lng]" value="{{ intPositionLong }}" />
                                    <script type="text/javascript">
                                    var blnAddress = true;
                                    </script>

                                </div>


                                <p>&nbsp;</p>

                                <div class="divTimeSlotsAround">
                                    {% set arrSlots = consultant.getAvailableBookingSlots() %}
                                    {% if arrSlots %}
                                      {% if arrSlots.error_message %}
                                          <div class="divTimeSlotsAllTaken">{{ arrSlots.error_message }}</div>
                                      {% else %}
                                          <div class="divTimeSlotContainer">
                                          {% for time_slot in arrSlots.time_slots %}
                                              {% if time_slot.booking_taken %}
                                                  <div class="divTimeSlotTaken">Taken</div>
                                              {% else %}
                                                  <a href="{{path('sked_app_booking_make', {'companyId': consultant.company.id, 'consultantId': consultant.id, 'date': time_slot.date_form, 'timeSlotStart': time_slot.start_time, 'serviceIds': serviceIds}) }}"><div class="divTimeSlotAvailable">
                                                      {{ time_slot.start_time }}<br />
                                                      <span class="spnTimeSlotNotes">{{ time_slot.dow }} {{ time_slot.date }} {{ time_slot.year }}</span>
                                                  </div></a>
                                              {% endif %}
                                          {% endfor %}
                                          </div>
                                      {% endif %}
                                    {% else %}
                                          Please set a date to view available booking slots
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p><strong>Employer</strong>: {{ company.name }}</p>
                            <p><strong>Summary</strong>: <br /> {{ company.description|raw }}</p>
                            <p>
                                <strong>Location</strong>:<br />
                                {{ company.address }}
                            </p>

                            <p>
                                <strong>Other Consultants Available</strong>: <br />
                                {% for consultant in otherConsultants %}
                                    {% include "SkedAppSearchBundle:Search:consultant.html.twig" %}
                                    <div style="clear: both;"></div>
                                {% else %}
                                    <p>No other consultants found</p>
                                {% endfor %}
                            </p>

                        </div>
                        <div class="tab-pane" id="tab3">

                            {% include "SkedAppCompanyBundle:CompanyPhotos:list.table.html.twig" %}

                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}
{% endblock body %}

{% block jquery_ui %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ asset('/js/jquery.ui.addresspicker.js') }}'></script>
{% endblock jquery_ui %}

{% block javascripts %}
<script src="{{ asset('/js/search-results.js') }}"></script>
{% endblock javascripts %}