<form  action="{{ path('sked_app_member_update',{'id':member.id}) }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
    <div class="control-group {% if form_errors(form.company) %} error {% endif %}">
        <div class="control-label" for="service_provider">{{ form_label(form.company) }}</div>
        <div class="controls">
            {{ form_widget(form.company) }}
            <span class="help-inline">{{form_errors(form.company)}}</span>    
        </div>
    </div>
    <div class="control-group {% if form_errors(form.title) %} error {% endif %}">
        <div class="control-label" for="title">{{ form_label(form.title) }}</div>
        <div class="controls">
            {{ form_widget(form.title) }}
            <span class="help-inline">{{form_errors(form.title)}}</span>    
        </div>
    </div>
    <div class="control-group {% if form_errors(form.gender) %} error {% endif %}">
        <div class="control-label" for="gender">{{ form_label(form.gender) }}</div>
        <div class="controls">
            {{ form_widget(form.gender) }}
            <span class="help-inline">{{form_errors(form.gender)}}</span>    
        </div>
    </div>
    <div class="control-group {% if form_errors(form.firstName) %} error {% endif %}">
        <div class="control-label" for="first_name">{{ form_label(form.firstName) }}</div>
        <div class="controls">
            {{ form_widget(form.firstName) }}
            <span class="help-inline">{{form_errors(form.firstName)}}</span>    
        </div>
    </div>
    <div class="control-group {% if form_errors(form.lastName) %} error {% endif %}">
        <div class="control-label" for="last_name">{{ form_label(form.lastName) }}</div>
        <div class="controls">
            {{ form_widget(form.lastName) }}
            <span class="help-inline">{{form_errors(form.lastName)}}</span>    
        </div>
    </div>
    <div class="control-group {% if form_errors(form.mobileNumber) %} error {% endif %}">
        <div class="control-label" for="mobile_number">{{ form_label(form.mobileNumber) }}</div>
        <div class="controls">
            {{ form_widget(form.mobileNumber) }}
            <span class="help-inline">{{form_errors(form.mobileNumber)}}</span>    
        </div>
    </div>
    <div class="control-group {% if form_errors(form.group) %} error {% endif %}">
        <div class="control-label" for="group">{{ form_label(form.group) }}</div>
        <div class="controls">
            {{ form_widget(form.group) }}
            <span class="help-inline">{{form_errors(form.group)}}</span>    
        </div>
    </div>
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button type="submit" name="submit" class="btn btn-warning">Update <i class="icon-white icon-circle-arrow-right"></i></button>
            </div>
            <div class="btn-group">
                <a href="{{ path('sked_app_member_list') }}" class="btn btn-small">Cancel</a>
            </div>
        </div>
      {{ form_rest(form) }} 
  </fieldset>
</form>
{{ tinymce_init() }}
     