<table id="sortable" class="table table-striped table-condensed tablesorter">
        <tbody>
          {% for company_photo in company_photos %}
          <tr>
            <td>{{company_photo.id}}</td>
            <td>{{company_photo.caption}}</td>
            <td>{{company_photo.path}}</td>
            <td>{{company.isActive}}</td>
            <td>{{company.createdAt|date('M jS Y')}}</td>
            <td><a href='{{path('sked_app_company_photo_show', {'id': company.id }) }}' rel="tooltip" title="click to view"><i class="icon-eye-open"></i></a>&nbsp;&nbsp;
              <a href='{{path('sked_app_company_photo_edit', {'id': company.id }) }}' rel="tooltip" title="click to edit"><i class="icon-edit"></i></a> &nbsp;
              <a href='{{path('sked_app_company_photo_delete', {'id': company.id }) }}' rel="tooltip" title="click to delete"><i class="icon-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
 </table>
