<div class="forms-background">
<h3>Register account</h3>
<section class="content">
{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}
<form class="display helpers form-horizontal" action="{{ path('sked_app_customer_register_account') }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
      <legend><span class="label label-info">Info</span> <small class="gray-text">Register a new account, all fields required.</small></legend>
      <div class="{% if form_errors(form.firstName) %} error {% endif %}">
        <div for="first_name">{{ form_label(form.firstName) }}</div>
        <div>
          {{ form_widget(form.firstName) }}
          <!--<span class="help-inline"><a href="#" rel="tooltip" data-placement="right" data-original-title="Enter first name."><i class="icon-info-sign"></i></a></span>-->
          <span class="help-inline">{{form_errors(form.firstName)}}</span>
        </div>
      </div>
      <div class=" {% if form_errors(form.lastName) %} error {% endif %}">
        <div for="last_name">{{ form_label(form.lastName) }}</div>
        <div>
          {{ form_widget(form.lastName) }}
          <!--<span class="help-inline"><a href="#" rel="tooltip" data-placement="right" data-original-title="Enter last name."><i class="icon-info-sign"></i></a></span>-->
          <span class="help-inline">{{form_errors(form.lastName)}}</span>
        </div>
      </div>
      <div class="{% if form_errors(form.gender) %} error {% endif %}">
        <div for="gender">{{ form_label(form.gender) }}</div>
        <div>
          {{ form_widget(form.gender) }} 
          <span class="help-inline">{{form_errors(form.gender)}}</span>  
        </div>
      </div>      
      <div class="{% if form_errors(form.mobileNumber) %} error {% endif %}">
        <div for="mobile_number">{{ form_label(form.mobileNumber) }}</div>
        <div>
          {{ form_widget(form.mobileNumber) }}
          <!--<span class="help-inline"><a href="#" rel="tooltip" data-placement="right" data-original-title="Enter mobile number."><i class="icon-info-sign"></i></a></span>-->
          <span class="help-inline">{{form_errors(form.mobileNumber)}}</span>
        </div>
      </div>
      <div class="{% if form_errors(form.landLineNumber) %} error {% endif %}">
        <div for="land_line">{{ form_label(form.landLineNumber) }}</div>
        <div>
          {{ form_widget(form.landLineNumber) }}
          <!--<span class="help-inline"><a href="#" rel="tooltip" data-placement="right" data-original-title="Enter land line number."><i class="icon-info-sign"></i></a></span>-->
          <span class="help-inline">{{form_errors(form.landLineNumber)}}</span>
        </div>
      </div>
      <div class="{% if form_errors(form.email.first) %} error {% endif %}">
        <div for="email_address">{{ form_label(form.email.first) }}</div>
        <div>
          {{ form_widget(form.email.first) }}
           <span class="help-inline">{{form_errors(form.email.first)}}</span>
        </div>
      </div>
      <div class="{% if form_errors(form.email.second) %} error {% endif %}">
        <div for="confirm_email_address">{{ form_label(form.email.second) }}</div>
        <div>
          {{ form_widget(form.email.second) }}
           <span class="help-inline">{{form_errors(form.email.second)}}</span>
        </div>
      </div>
      <div class="{% if form_errors(form.password.first) %} error {% endif %}">
        <div for="password">{{ form_label(form.password.first) }}</div>
        <div>
          {{ form_widget(form.password.first) }}
           <span class="help-inline">{{form_errors(form.password.first)}}</span>
        </div>
      </div>
      <div class="{% if form_errors(form.password.second) %} error {% endif %}">
        <div for="confirm_password">{{ form_label(form.password.second) }}</div>
        <div>
          {{ form_widget(form.password.second) }}
           <span class="help-inline">{{form_errors(form.password.second)}}</span>
        </div>
      </div>
      <div class="control-group">
        <div for="media"><label>How did you hear about us?</label></div>
        <div>
            <table width="150px">
                <tr>
                    <td>{{ form_widget(form.radio) }}</td>
                    <td>Radio</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.internet) }}</td>
                    <td>Internet</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.tv) }}</td>
                    <td>TV</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.twitter) }}</td>
                    <td>Twitter</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.facebook) }}</td>
                    <td>Facebook</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.printedMedia) }}</td>
                    <td>Print media</td>
                </tr>
                <tr>
                    <td>{{ form_widget(form.wordOfMouth) }}</td>
                    <td>Word of mouth</td>
                </tr>
            </table>
        </div>
      </div>
      <div class="{% if form_errors(form.captcha) %} error {% endif %}">
        <div for="form.captcha">{{ form_label(form.captcha) }}</div>
        <div class="">
          {{ form_widget(form.captcha) }}
           <span class="help-inline">{{form_errors(form.captcha)}}</span>
        </div>
      </div>
      <div class="btn-toolbar pull-right">
          
          <button type="submit" name="submit" class="btn btn-warning" data-toggle="button">Register &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                    &nbsp;&nbsp;<a href="{{ path('_welcome') }}" class="btn btn-small">Cancel</a>
      </div>
      {{ form_rest(form) }}
  </fieldset>
</form>
</section>
</div>
{{ form_stylesheet(form) }}
{{ form_javascript(form) }}
