<h3>Bookings for {{ filterDate }}</h3>
<form action="{{ path('sked_app_booking_messages') }}" method="post">

  <fieldset>
      <div class="control-group">
          <label class="control-label" for="messageText">{{ form_label(form.messageText) }}</label>
          <div class="controls">
              {{ form_widget(form.messageText) }}
              <span class="help-inline">{{form_errors(form.messageText)}}</span>
          </div>
      </div>
  </fieldset>

  <table id="sortable" class="table table-striped table-condensed tablesorter">
    <thead>
      <tr>
        <th>Select</th>
        <th>#</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Time</th>
        <th>Consultant</th>
        <th>Service</th>
        <th>Confirmed</th>
        <th>Created</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        <td><input type="checkbox" name="selectBookings[]" value="{{booking.id}}" /></td>
        <td>{{booking.id}}</td>
        <td>{{booking.customerString}} - {{booking.customerNumberString}}</td>
        <td>{{booking.appointmentDateString}}</td>
        <td>{{booking.startTimeslotString}} - {{booking.endTimeslotString}}</td>
        <td>{{booking.consultantString}}</td>
        <td>{{booking.service.name}}</td>
        <td>{{booking.isConfirmedString}}</td>
        <td>{{booking.createdAt|date('M jS Y')}}</td>
        <td><input type="checkbox" name="cancelBookings[]" value="{{booking.id}}" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
      <button type="submit" name="submit" class="btn btn-warning" data-toggle="button">Go &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
  </div>
</form>