<form class="form-horizontal" action="{{ path('sked_app_booking_create') }}" method="POST" {{ form_enctype(form) }}>
  <fieldset>
      <legend><span class="label label-info">Info</span> <small>Booking details.</small></legend>
      <div class="control-group">
        <label class="control-label" for="time_slots">Date and time</label>
        <div class="controls">
            <div style="border: 1px solid #ccc; padding: 10px;width: 350px;">
                <div style="margin: 8px 8px 0 0;padding-top: 5px;">
                    Date:&nbsp;{{ form_widget(form.appointmentDate) }} 
                </div>
                <div style="float: left; margin: 8px 8px 0 0;padding-top: 5px;">
                    Start time:{{ form_widget(form.startTimeslot) }} 
                </div>
                <div style="margin: 8px 8px 0 0;padding-top: 5px;">
                    End time:{{ form_widget(form.endTimeslot) }} 
                </div>
            </div>
       </div>
      </div>      
      <div class="control-group {% if form_errors(form.customer) %} error {% endif %}">
        <label class="control-label" for="customer">{{ form_label(form.customer) }}</label>
        <div class="controls">
          {{ form_widget(form.customer) }} 
          <span class="help-inline">{{form_errors(form.customer)}}</span>  
        </div>
      </div>
      <div class="control-group {% if form_errors(form.consultant) %} error {% endif %}">
        <label class="control-label" for="consultants">{{ form_label(form.consultant) }}</label>
        <div class="controls">
          {{ form_widget(form.consultant) }} 
          <span class="help-inline">{{form_errors(form.consultant)}}</span>  
        </div>
      </div>
      <div class="control-group {% if form_errors(form.service) %} error {% endif %}">
        <label class="control-label" for="consultant_services">{{ form_label(form.service) }}</label>
        <div class="controls">
          {{ form_widget(form.service) }} 
          <span class="help-inline">{{form_errors(form.service)}}</span>  
        </div>
      </div>      
      <div class="control-group {% if form_errors(form.isLeave) %} error {% endif %}">
        <label class="control-label" for="leave">{{ form_label(form.isLeave) }}</label>
        <div class="controls">
          {{ form_widget(form.isLeave) }} 
          <span class="help-inline">{{form_errors(form.isLeave)}}</span>  
        </div>
      </div>      
      <div class="control-group {% if form_errors(form.description) %} error {% endif %}">
        <label class="control-label" for="description">{{ form_label(form.description) }}</label>
        <div class="controls">
          {{ form_widget(form.description) }} 
          <span class="help-inline">{{form_errors(form.description)}}</span>  
        </div>
      </div>      
      <div class="form-actions">
          <button type="submit" name="submit" class="btn btn-warning" data-toggle="button">Create &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                    &nbsp;&nbsp;<a href="{{ path('sked_app_booking_manager') }}" class="btn">Cancel</a>
      </div> 
      {{ form_rest(form) }} 
  </fieldset>
</form>
{{ tinymce_init() }}
     
