<div class="row-fluid body-main rounded-all">
    <div class="span12 tabs-img">
        <img src="{{ asset('/img/tabs-set3.png') }}" width="362" height="55" alt="step-tabs;" class="space-left" />
    </div>
    <div class="clearfix"></div>
    <div class="span5">
        <div class="confirm-background">
            <form action="{{ path('sked_app_booking_made') }}" method="POST" {{ form_enctype(form) }}>
                {{ form_widget(form.appointmentDate) }}
                {{ form_widget(form.startTimeslot) }}
                {{ form_widget(form.consultant) }}
                {{ form_widget(form.service) }}
                    <h3>Appointment Details</h3>
                    <ul class="unstyled space-left pull-left">
                        <li>
                            <div class="divPrompt">Service Provider:</div>
                            <div class="divValue">
                                {% if file_exists(web_path~asset('uploads/companies/'~consultant.company.id~'.'~consultant.company.path)) %}
                                 <div class="image-dimensions-width180 img-polaroid">
                                     <img src="{{ asset('uploads/companies/'~consultant.company.id~'.'~consultant.company.path) }}" width="180" class="height100 space-right"/>
                                 </div>
                                  {% endif %}
                                <span class="gray-text"><strong>{{ consultant.company.name }}</strong></span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="divPrompt">Consultant:</div>
                            <div class="divValue">
                                {% if file_exists(web_path~asset('uploads/consultants/'~consultant.id~'.'~consultant.path)) %}
                                 <div class="image-dimensions-width180 img-polaroid">
                                     <img src="{{ asset('uploads/consultants/'~consultant.id~'.'~consultant.path) }}" width="180" class="height100 space-right"/>
                                 </div>
                                 {% else %}
                                      {% if consultant.gender.name == "Male" %}
                                     <div class="image-dimensions-width180 img-polaroid">
                                         <img src="{{ asset('/img/male.jpg') }}" width="180" class="height100 space-right"/>
                                     </div>
                                      {% else %}
                                     <div class="image-dimensions-width180 img-polaroid">
                                         <img src="{{ asset('/img/female.jpg') }}" width="180" class="height100 space-right"/>
                                     </div>
                                      {% endif %}
                                  {% endif %}
                                <span class="gray-text"><strong>{{ consultant.getFullName() }}</strong></span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="divPrompt">Location:</div> <div class="divValue"><span class="gray-text"><strong>{{ consultant.company.address }}</strong></span></div>
                            <div class="divValue"><span class="asterisk">*</span><strong>HINT :</strong> For more information on the location of the appointment, please see the map.</div>
                            <div class="clearfix"></div>
                        </li>
                        <li><div class="divPrompt">Service:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking_service }}</strong></span></div></li>
                        <li><div class="divPrompt">Appointment Date:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking_date }}</strong></span></div></li>
                        <li><div class="divPrompt">Appointment Time:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking_time_start }} - {{ booking_time_end }}</strong></span></div></li>
                    </ul>
                <label>Add Notes:</label>
                {{ form_widget(form.description) }}
                <div class="spacer1"></div>
                <div class="submitButton">
                    <button type="submit" name="submit" class="btn btn-warning pull-right" data-toggle="button" data-loading-text="Searching...">Make Booking &nbsp;&nbsp;<i class="icon-white icon-black icon-circle-arrow-right"></i></button>
                </div>
                <div class="spacer1"></div>
              </fieldset>
              {{ form_rest(form) }}
            </form>
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
            <h3>Location Details</h3>
            {{ google_map_container(map) }}
        </div>
    </div>
</div> <!-- End .row-fluid -->
{{ tinymce_init() }}