<div class="row-fluid body-main rounded-all">
    <div class="span12 tabs-img">
        <img src="{{ asset('/img/tabs-set3.png') }}" width="362" height="55" alt="step-tabs;" class="space-left" />
    </div>
    <div class="clearfix"></div>
    <div class="span5">
        <div class="confirm-background">
            <form action="{{ path('sked_app_booking_made') }}" method="POST" {{ form_enctype(form) }}>
                {{ form_widget(form.appointmentDate) }}
                {{ form_widget(form.startTimeslot) }}
                {{ form_widget(form.consultant) }}
                {{ form_widget(form.service) }}  
              <fieldset>
                <label>Appointment Date</label>
                {{ booking_date }}
                <label>Appointment Time:</label>
                {{ booking_time_start }} - {{ booking_time_end }}
                <label>Consultant</label>
                {{ consultant.getFullName() }}
                <label>Service</label>
                {{ booking_service }} 
                <label>Add notes, if any...</label>
                {{ form_widget(form.description) }}
                <div class="spacer1"></div>
                <div class="submitButton">
                    <button type="submit" name="submit" class="btn btn-warning pull-right" data-toggle="button" data-loading-text="Searching...">Make Booking &nbsp;&nbsp;<i class="icon-white icon-black icon-circle-arrow-right"></i></button>
                </div>
              </fieldset>
              {{ form_rest(form) }}      
            </form>
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
            <h3>Location Details</h3>
            {{ google_map_container(map) }}
            <address>
                <h4>Service Provider: {{ consultant.company.name }}</h4>
                <strong>Location:</strong><br>
                {{ consultant.company.address }}
            </address>
        </div>
    </div>
</div> <!-- End .row-fluid -->
{{ tinymce_init() }}