<div class="row-fluid body-main rounded-all">
    <div class="span12 tabs-img">
        <img src="{{ asset('/img/tabs-set3.png') }}" width="362" height="55" alt="step-tabs;" class="space-left" />
    </div>
    <div class="clearfix"></div>
    <div class="span5">
        <div class="confirm-background rounded-confirm">
            <form action="{{ path('sked_app_booking_made') }}" method="POST" {{ form_enctype(form) }}>
                {{ form_widget(form.appointmentDate) }}
                {{ form_widget(form.startTimeslot) }}
                {{ form_widget(form.consultant) }}
                {{ form_widget(form.service) }}
                
                    <h3>Appointment Details</h3>
                    <div class="white-bg">
                        <ul class="unstyled space-left gray-text">
                            <li>Consultant:</li>
                            <li>
                                <div class="divPrompt">
                                    {% if file_exists(web_path~asset('uploads/consultants/'~consultant.id~'.'~consultant.path)) %}
                                    <div class="img-polaroid polaroid-width120">
                                        <div class="image-dimensions120">
                                            <img src="{{ asset('uploads/consultants/'~consultant.id~'.'~consultant.path) }}" width="120" />
                                        </div>
                                    </div>
                                    {% else %}
                                    {% if consultant.gender.name == "Male" %}
                                    <div class="img-polaroid polaroid-width120">
                                        <div class="image-dimensions120>
                                            <img src="{{ asset('/img/male.jpg') }}" width="120" />
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="img-polaroid polaroid-width120">
                                        <div class="image-dimensions120">
                                            <img src="{{ asset('/img/female.jpg') }}" width="120" />
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <div class="divValue">
                                    <table>
                                        <tr>
                                            <td width="30%">Consultant</td>
                                            <td width="70%">
                                                <strong>{{ consultant.getFullName() }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Service:
                                            </td>
                                            <td>
                                                <strong>{{ booking_service }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Service Provider:</td>
                                            <td>
                                                <strong>{{ consultant.company.name }}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                Location:
                                            </td>
                                            <td>
                                                <strong>{{ consultant.company.address }}</strong><br />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="spacer1"></div>
                                <div class="divPrompt">Appointment Date:</div> <div class="divValue"><span class="gray-text"><strong>{{ booking_date }}</strong></span></div>
                            </li>
                            <li>
                                <div class="divPrompt">Appointment Time:</div>
                                <div class="divValue"><span class="gray-text"><strong>{{ booking_time_start }} - {{ booking_time_end }}</strong></span></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                <div class="spacer1"></div>
                <label>Add Notes:</label>
                {{ form_widget(form.description) }}
                <span class="whiteText"><span class="asterisk">*</span><strong>HINT :</strong> Please add notes If you have additional things you want to consultant to be aware of.</span>
                <div class="spacer1"></div>
                <div class="submitButton">
                    <button type="submit" name="submit" class="btn btn-primary pull-right" data-toggle="button" data-loading-text="Searching...">Make Booking &nbsp;&nbsp;<i class="icon-white icon-black icon-circle-arrow-right"></i></button>
                </div>
                <div class="spacer1"></div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
            <h3>Location Details</h3>
            {{ google_map_container(map) }}
            <span class="whiteText"><span class="asterisk">*</span><strong>HINT :</strong> For more information on the location of the appointment, please see the map.</span>
        </div>
    </div>
</div> <!-- End .row-fluid -->
{{ tinymce_init() }}