
{% extends "SkedAppBookingBundle::layout.html.twig" %}
{% block title %}Manage bookings{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/fullcalendar.css') }}" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block javascripts %}
<script src="{{ asset('/js/fullcalendar.min.js') }}"></script>
{% endblock %}

{% block body %}
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
            </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
        <h3>Manage bookings</h3>
        <br />
    {% block alert %}
        {% include "::alert.html.twig" %}
    {% endblock %}
       <span><a href="{{ path('sked_app_booking_new') }}" class="btn btn-warning btn-small pull-right"><i class="icon-white icon-plus-sign"></i> Add booking</a></span>
       <br />
       <br />
       <div id="calendar"></div>
       <br />
       <br />
       <span><a href="{{ path('sked_app_booking_new') }}" class="btn btn-warning btn-small pull-right"><i class="icon-white icon-plus-sign"></i> Add booking</a></span>
 
    </div>  
    {% endblock content %}   
       <script type='text/javascript'>
            $(document).ready(function() {
	
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
		
                var calendar = $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'resourceDay,month,basicWeek,basicDay'
                    },
                    titleFormat: 'ddd, MMM dd, yyyy',
                    defaultView: 'resourceDay',
                    selectable: false,
                    selectHelper: true,
                    select: function(start, end, allDay, event, resourceId) {
                        var title = prompt('Event Title:');
                        if (title) {
                            console.log("@@ adding event " + title + ", start " + start + ", end " + end + ", allDay " + allDay + ", resource " + resourceId);
                            calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay,
                                resourceId: resourceId
                            },
                            true // make the event "stick"
                        );
                        }
                        calendar.fullCalendar('unselect');
                    },
                    eventResize: function(event, dayDelta, minuteDelta) {
                        console.log("@@ resize event " + event.title + ", start " + event.start + ", end " + event.end + ", resource " + event.resourceId);
                    },
                    
                    editable: true,
                    resources: [
                        {% for consultant in consultants %}
                            {
                                name: "{{consultant.firstName}} {{consultant.lastName}}",
                                id:   "resource-{{consultant.id}}",
                            },
                        {% endfor%}
                    ],
                    events: "ajaxGetBookings",

                });
		
            });

        </script>
{% endblock body %}