
{% extends "SkedAppBookingBundle::layout.html.twig" %}
{% block title %}Manage bookings{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/fullcalendar.css') }}" rel="stylesheet">

{% endblock %}

{% block jquery_ui %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block javascripts %}
<script src="{{ asset('/js/fullcalendar.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
            </div>       
    {% endblock menu %}    
    {% block content %}
            <div class="span8">
                <h4>Manage bookings</h4>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
                <div id="calendar"></div>
            </div>  
    {% endblock content %}   
        </div>
       <script type='text/javascript'>
            $(document).ready(function() {
	
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
		
                var calendar = $('#calendar').fullCalendar({
                    header: {
                        left: '',
                        center: 'title',
                        right: 'resourceDay'
                    },
                    titleFormat: 'ddd, MMM dd, yyyy',
                    defaultView: 'resourceDay',
                    selectable: true,
                    selectHelper: true,
                    select: function(start, end, allDay, event, resourceId) {
                        var title = prompt('Event Title:');
                        if (title) {
                            console.log("@@ adding event " + title + ", start " + start + ", end " + end + ", allDay " + allDay + ", resource " + resourceId);
                            calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay,
                                resourceId: resourceId
                            },
                            true // make the event "stick"
                        );
                        }
                        calendar.fullCalendar('unselect');
                    },
                    eventResize: function(event, dayDelta, minuteDelta) {
                        console.log("@@ resize event " + event.title + ", start " + event.start + ", end " + event.end + ", resource " + event.resourceId);
                    },
                    eventDrop: function( event, dayDelta, minuteDelta, allDay) {
                        console.log("@@ drag/drop event " + event.title + ", start " + event.start + ", end " + event.end + ", resource " + event.resourceId);
                    },
                    editable: true,
                    resources: [
                        {% for consultant in consultants %}
                            {
                                name: "{{consultant.firstName}} {{consultant.lastName}}",
                                id:   "resource-{{consultant.id}}",
                            },
                        {% endfor%}
                    ],
                    events: [
                        {
                            title: 'All Day Event 1',
                            start: new Date(y, m, d - 1),
                            end: new Date(y, m, d + 1),
                            resourceId: 'resource-1'
                        },
                        
                    ]
                });
		
            });

        </script>
{% endblock body %}